main {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    margin-top: 100px;
}

main input {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
}

main img {
    width: 50%;
}

main h3 {
    font-weight: normal;
    margin-top: .5em;
    margin-bottom: .25em;
}

main fieldset {
    margin-bottom: 1rem;
}

a {
    color: #222222;
}
